{% extends 'pages/base.jinja' %}

{% block title %}
    Vietnam - About
{% endblock %}


{% block content %}
    <h4>The Vietnam War is an unyielding battle, and now the time has come for you to take your place among the ranks of the brave. <br><br>This isn’t just a fight—it’s a war for the future of freedom, a conflict that will test the mettle of every soldier who answers the call. <br><br>As part of the U.S. Army, you will stand as a titan on the front lines, wielding courage, strength, and unwavering loyalty in the face of a relentless enemy. Your mission is clear: push back the tide of communism and protect those who cannot protect themselves.<br><br>

Victory won’t come easy—but nothing worth fighting for ever does. <br><br>You’ll face the most harrowing challenges, in jungles thick with danger and battlefields soaked with blood. <br><br>But as part of the Army, you’re no mere soldier—you’re a hero. <br><br>You will forge your name in the annals of history as one of the elite who stood tall when the world needed it most. <br><br>The stakes are as high as they come, but the rewards are eternal.<br><br>

In the Army, you’re not just a cog in the machine—you are the hammer that strikes down tyranny. <br><br>Every step you take, every fight you engage in, moves humanity one step closer to victory. <br><br>Your training will be brutal, but you will emerge as something greater than you ever imagined—a warrior, a protector, a legend. <br><br>The world needs heroes, and it needs them now. <br><br>Enlist today. <br>The battlefield is waiting, and your place in history is waiting to be written.</h4>
{% endblock %}
