<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.sand.min.css">
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>Flask Demo</li>
                </ul>

                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/random">Draft</a></li>
                    <li><a href="/form">Enlist!</a></li>
                </ul>

            </nav>
        </header>

        <main>

            {% block content %}
            {% endblock %}

        </main>

        <footer>
            &copy; William Butler 2025
        </footer>

    </body>

</html>
