{% extends 'pages/base.jinja' %}

{% block title %}
    Vietnam - Your Day
{% endblock %}


{% block content %}

    <h2>Is This Your Birthday?</h2>

    <article id="random">
        {{ year, month, day }}
    </article>
 

    <h3> Well Done! Your Country Will Appreciate Your Contribution!</h3>
{% endblock %}
