{% extends 'pages/base.jinja' %}

{% block title %}
    Vietnam - Data From Form
{% endblock %}


{% block content %}

    <h2>Congrats! You Are All Set! See You Out There!</h2>

    <article>
    <h3>
        {{ name }}
    </h3>
     <h3>
        {{ age }}
    </h3>
    </article>
 

    <h3> Well Done! Your Country Will Appreciate Your Contribution!</h3>
{% endblock %}
