{% extends 'pages/base.jinja' %}

{% block title %}
    Vietnam- Welcome
{% endblock %}


{% block content %}
    <h1>Welcome Soldier!</h1>

    <p>Are You Ready To Fight For Your Country?</p>
{% endblock %}
