{% extends 'pages/base.jinja'%}

{% block title %}
    Vietnam - Deserting
{% endblock %}

{% block content %}
    <h2> Sorry! You Lost Your Chance.</h2>
    <p>Why Not Take A Stroll Down Dealey Plaza?</p>
{%endblock%}